.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-works {
    font-weight: 100 ;
    text-align: center;
    font-size: 2rem;
    margin:0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 
    ::ng-deep .mat-tab-labels{
    display: flex;
    justify-content: center;
}

.image-row-works{
    font-display: flex;
    flex-direction: row;
}



.img-column-layout{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.right-location {
  align-self: flex-end;
}

.abeja-logo {
    background-image: url('../../images/logo.png');
    height: 500px;
    background-size: 408px;
    background-repeat: no-repeat;
    background-position: center;
}

/* .abeja-logo-small-size{
    background-image: url('../../images/logo-abeja.jpg');
    height: 500px;
    background-size: 625px;
    background-repeat: no-repeat;
    background-position: center;
} */

.abeja-image{
    background-image: url('../../images/envase_abeja_final.jpg');
    height: 606px;
    background-size: 771px;
    background-repeat: no-repeat;
    background-position: center;

}

.abeja-image2{
    background-image: url('../../images/envase2_abeja_negra.jpg');
    height: 500px;
    background-size: 500px;
    padding: 11em;
    background-repeat: no-repeat;
    background-position: center;

}

.only-label{
    background-image: url('../../images/label-presentation.jpg');
    height: 336px;
    background-size: 1071px;
    padding: 11em;
    background-repeat: no-repeat;
    background-position: center;

}