
<button mat-fab routerLink="" routerLinkActive="active">
  <fa-icon icon="arrow-left"></fa-icon>
</button>
<h1 class="title-works">Brand</h1>
  <div class="content "> 
    <h5>Abeja Negra</h5>
    <div class="abeja-logo-small-size"></div>
    <p>Pyme enfocada en brindar una experiencia de diversos sabores en sus mieles y un packaging similar a las cervezas artesanales</p>
  </div>  
  <mat-tab-group>
    <mat-tab label="Logo">
        <div class="abeja-logo"></div>
    </mat-tab>
    <mat-tab label="Label">
      <div class="only-label"></div>
    </mat-tab>
    <mat-tab label="Labelled">
      <div class="abeja-image2"></div>
    </mat-tab>
    <mat-tab label="Packaging">
      <div class="abeja-image"></div>
    </mat-tab>
  </mat-tab-group>
      
