.main-background-works {
  margin: 1em;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-works {
    font-weight: 100 ;
    text-align: center;
    font-size: 2rem;
    margin:0;
}

.content-flex {
  display: flex;
  justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ng-image-slider {
  display: flex;
  justify-content: center;
}
    ::ng-deep .mat-tab-labels{
    display: flex;
    justify-content: center;
}

.image-row-works{
    font-display: flex;
    flex-direction: row;
}

.img-column-layout{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

::ng-deep .mat-tab-body.mat-tab-body-active{
  margin-top: 2em;
}