
 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
} 

.avatar {
    background-image: url('../../images/avatar-final.jpg');
    background-size: cover;
    align-self: center;
    height: 91px;
    width: 91px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;  
}

mat-card-title {
    align-self: center;
    
}

.mat-card-title:not(:first-child) {
    margin-top: 0.3em;
}

.my-name {
    font-family: 'Lexend Mega', sans-serif;
    margin-top: 1em;
}



span {
    align-self: center;
    font-weight: lighter;
    font-size: 2em;
}

.card-container{
   max-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 400px;
    height: 350px;
    
  }

 
.btn-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

button {
    margin-left: 8px;
}

.mat-card > :last-child:not(.mat-card-footer) {
    margin-bottom: 0;
    align-self: center;
}

.mat-fab.mat-accent {
    background-color: rgba(240, 240, 240, 0.993);
}