<div class="container">
  <mat-card class="card-container">
    <div class="avatar"></div>
      <mat-card-title class="my-name" >
        Alvaro Urbina
      </mat-card-title>
      <mat-card-content class="content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam ipsum vel, perspiciatis, ex commodi voluptatem excepturi doloremque quo unde nulla consequatur quis exercitationem inventore error repellendus. Deserunt nostrum porro nam?  </p>
      </mat-card-content>
      <div class="btn-row">
        <button mat-fab>
          <fa-icon icon="graduation-cap"></fa-icon>
      </button>
        <button mat-fab color="primary">
          <fa-icon icon="briefcase"></fa-icon>
        </button>
        <button mat-fab color="primary">
          <fa-icon icon="briefcase"></fa-icon>
        </button>
        <button mat-fab color="primary">
          <fa-icon icon="briefcase"></fa-icon>
        </button>
      </div>
  </mat-card>
</div>
