

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1080px;
  box-sizing: border-box;
  position: fixed;
  background: linear-gradient(to top ,#ad5389,#3c1053);
  
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    
} 
.avatar {
    background-image: url('https://4lvaro.s3.amazonaws.com/avatar_aws.png');
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    height: 91px;
    width: 91px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.84),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);  
}

mat-card-title {
    align-self: center;
    color: white;
    padding-left: 0.6em;
    text-shadow: 1px 2px 3px #666;
    
}

.flip {
    align-self: flex-end;
}

.font-style-presentation{
   
    text-shadow: 1px 2px 3px #666;
}

.my-name {
    font-family: 'Lexend Mega', sans-serif;
    margin-top: 1em;
    
}

.btn-separator {
    max-width: 63%;
    margin-left: 4.5em;
}
mat-card-content{
    align-self: center;
    font-size: 1rem;
    color:white;
    font-weight: 400;
}

span {
    align-self: center;
    font-weight: lighter;
    font-size: 2em;
}

/* Must be flip*/

  button {
      margin-left: 8px;
  }


  .mat-fab.mat-accent {
     
      background-image:linear-gradient(to top, #42275a,#734b6d);
     
  }
  

  .mat-mini-fab{
    margin-top: 0.3em;
    transform: none;
    cursor: pointer;
    background-color: rgba(17, 50, 84, 0.49);
    color: #ffffff61;
    align-self: center;
    font-size: 2rem;
    width:80px;
    height: 80px;
    position: absolute;
    z-index: 1;
   

  }

  .mat-mini-fab:after {
  content: "";
  background: rgba(218, 45, 118, 0.2),0 6px 10px 0 rgba(229, 41, 217, 0.97),0 1px 18px 0 rgba(210, 32, 199, 0.12);
  display: block;
  position: absolute;
  padding-top: 500%;
  padding-left: 550%;
  margin-left: -100px!important;
  margin-top: -20%;
  opacity: 0;
  box-shadow:  0 3px 5px -1px rgba(218, 45, 118, 0.2),0 6px 10px 0 rgba(229, 41, 217, 0.97),0 1px 18px 0 rgba(210, 32, 199, 0.12);
  transition: all 0.5s;
  
  }

  .mat-mini-fab:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
    transform: rotateY( 180deg );
  }
  
  /*Flip */

.card-container {
  max-width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
  height: 350px;
  position: absolute;
  -webkit-perspective: 500px;
  perspective: 500px;

}

.flippable-card {
  width: 100%;
  height: 75%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0em;
  padding: 0;

}

.flippable-card mat-card {
  margin: 0;
  display: block;
  position: absolute;
  width: -webkit-fill-available;
  width:-moz-available;
  height: 100%;
  backface-visibility: hidden;
  
}


.flippable-card .front {
  background-size: cover;
  padding: 1em;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.front {
  background-image:linear-gradient(to left, #41295a,#2F0743);
}
.mat-card-subtitle {
  align-self: center;
  color: white;
  font-weight: bold;
}
.mat-card-subtitle:not(:first-child), .mat-card-title:not(:first-child) {
  margin-top: 0;
}

.flippable-card .back {
  background-image: url('https://4lvaro.s3.amazonaws.com/backcard-01.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotateY( 180deg );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.flippable-card.flipped {
  transform: rotateY( 180deg );
}

/* Media queries*/

@media screen and (min-width: 600px){
  .btn-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1em;
    width: 100%;
    
   
  }
}

@media screen and (min-width: 600px){
  .btn-experience {
      margin-left: 0;
  }
} 
@media screen and (min-width: 360px) {
   .card-container{
    width: 350px;
    height: 27em;
  }
}
@media screen and (min-width: 360px) {
  .avatar{
   width: 114px;
   height: 114px;
   margin-right: 2px;
 }
}
@media screen and (min-width:360px){
  .flippable-card .front{
    height: 38em;
    background-size: 100%;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    margin: 0em;
    padding: 0em;

  }
}
@media screen and (min-width:600px){
  .flippable-card .front {
  background-size: 100%;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: space-evenly;

  }
}
@media screen and (min-width:600px){
  .flippable-card .back {
  background-size: 100%;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: space-evenly;

  }
}
@media screen and (min-width:360px){
  .flippable-card .back{
    height: 38em;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    margin: 0em;
    padding: 0em;
  }
}
@media screen and (min-width:360px){
  .mat-fab-mini{
    width: 20px;
    height: auto;
  }
}
@media screen and (min-width:600px){
  .avatar {
    width: 116.2px;
    height: 116.2px;
    padding: 3px;
  }
}