
.container {
    display: flex;
    justify-content: center;
}

.avatar {
    background-image: url('../../images/avatar-final.jpg');
    background-size: cover;
    align-self: center;
    height: 91px;
    width: 91px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;  
}

mat-card-title {
    align-self: center;
    
}

.mat-card-title:not(:first-child) {
    margin-top: 0.3em;
}

.my-name {
    margin-top: 1em;
}

span {
    align-self: center;
    font-weight: lighter;
    font-size: 2em;
}

.card-container{
    max-width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content {
      width: 73%;
      align-self: center;
  }

.btn-row button {
    margin-right: 8px;
    margin-left: 1em;
  
}

.mat-card > :last-child:not(.mat-card-footer) {
    margin-bottom: 0;
    align-self: center;
}

.mat-fab.mat-accent {
    background-color: rgb(79, 93, 124);
}