    <mat-nav-list>
        <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
           <div class="github">Github
            <span mat-line>Repositorios</span>
         </div>
        </a>
      
        <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
          <span mat-line>Angular</span>
          <span mat-line>Javascript</span>
          <span mat-line>Typecript</span>
        </a>
      
        <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
          <span mat-line>Rails</span>
          <span mat-line>Ruby</span>
        </a>
      
        <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
          <span mat-line>Flexbox</span>
          <span mat-line>Bootstrap</span>
          <span mat-line>SCSS</span>
          <span mat-line>CSS</span>
        </a>
      </mat-nav-list>
      