/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lexend+Mega|Roboto:100,300,400&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}

body {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../src/app/images/giphy.gif');
    background-color: rgba(27, 20, 20, 0.219);
    box-sizing: border-box;
    background-repeat: repeat;
    /*   */
}

