 
<mat-vertical-stepper [linear]="isLinear" #stepper>
  <ng-template matStepperIcon="edit">
      <mat-icon>school</mat-icon>
    </ng-template>  
    <mat-step>
      <ng-template matStepLabel> Universidad
        <div class="udp-universidad-logo"></div>
      </ng-template>  
        <p>Publicista Licenciado en Comunicación Social, Comunicación Estratégica.</p>
      <div>
          <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel> Desafío Latam
        <div class="programing-academy-logo"></div>
      </ng-template>
        <p>Fullstack Developer, Informática</p> 
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel> Kibernum
        <div class="kibernum-logo"></div>
      </ng-template>
        <p>User Experience, Desarrollo de páginas web, contenido digital/multimedia y
        recursos informáticos</p> 
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    
    <mat-step>
        <ng-template matStepLabel> Cursos
          <div class="codeacademy-logo"></div>
        </ng-template>
          <p>Cursos de programación informática, aplicaciones específicas</p> 
          <button mat-button matStepperPrevious>Back</button>
      </mat-step>
</mat-vertical-stepper>
