<button mat-fab routerLink="" routerLinkActive="active">
  <fa-icon icon="arrow-left"></fa-icon>
</button>

  <div class="title-layout">
    <h4 class="title-experiencie">work experience summary</h4>
  </div>
  <div class="column-timeline">
    <button mat-fab class="" color="basic">
        Codelco
        <div class="vl"></div>
    </button>
    <div class="text-box">
    <p>Desarrollo de aplicación interna para CodelcoTech. Consiste en realizar seguimiento
        de estudios y de sus respectivas etapas a través de una matriz la cual muestra sus
        tareas y su estado en base a las fechas comprometidas. Además se realiza panel de
        configuración para usuarios según roles.
        Consumo de datos a través de Sharepoint
        Herramientas utilizadas en el proyecto:
        -Frameworks Js: Angular.
        -Lenguajes: Javascript y Typescript.
        -Diseño web: HTML, CSS y Flex Box.
        -Librerias: Bootstrap y Angular material.
        -Git</p>
      </div>
    </div>
      
        

  