<div class="main-experience-layout">
  <button mat-fab routerLink="" routerLinkActive="active">
    <fa-icon icon="arrow-left"></fa-icon>
  </button>
    <div class="title-layout">
      <h4 class="title-experiencie">Work experience summary</h4>
      <mat-divider></mat-divider>
    </div>
  <div class="column-timeline">
        <div class="text-box-container-flex">
          <mat-card>
            <mat-card-title>Frontend Developer</mat-card-title>
              <mat-card-content>
              Desarrollo de aplicación interna para CodelcoTech. Consiste en realizar seguimiento
              de estudios y de sus respectivas etapas a través de una matriz la cual muestra sus
              tareas y su estado en base a las fechas comprometidas. Además se realiza panel de
              configuración para usuarios según roles.
              Consumo de datos a través de Sharepoint
              Herramientas utilizadas en el proyecto:  
              </mat-card-content>
              <ul>
                <li>Angular</li>
                <li>Javascript</li>
                <li>Typescript</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Flex Box</li>
                <li>Bootstrap</li>
                <li>Angular material</li>
              </ul>
          </mat-card>
          <div class="tree-branch">
            <img src="https://media.licdn.com/dms/image/C4D0BAQGSEbE8uYhKDg/company-logo_200_200/0?e=2159024400&v=beta&t=eumkuItlsfuN0RwDaVqt-_GGZmLsmcGmLudjCgtkLbY" alt="">
            <div id="triangle-left"></div>
            <span class="vl"></span>
          </div>
        </div>    
    <div class="text-box-container-flex">
    <mat-card>
      <mat-card-title>UX/UI</mat-card-title>
        <mat-card-content>
        Aplicación para el rubro de la construcción basada en la economía
        circular. Comercialización de materiales sobrantes de una obra, la plataforma
        facilita la gestión y seguimiento de sus materiales a través de la ubicación de
        las obras.
        Diseño de interfaces aplicando UX con mockups y prototipos.
        </mat-card-content>
        <ul>
          <li>Illustrator</li>
          <li>XD</li>
          <li>Photoshop</li>
          <li>Spark</li>
          <li>Premiere</li>
        </ul>
    </mat-card>
    <div class="tree-branch">
      <img src="https://4lvaro.s3.amazonaws.com/book/rebuild/logo-oscuro.png" alt="">
      <div id="triangle-left"></div>
      <span class="vl"></span>
  </div>
</div>
    <div class="text-box-container-flex">
    <mat-card>
      <mat-card-title>FullStack Developer</mat-card-title>
      <mat-card-content>
        Ipsum startup que desarrolló Proplanner, herramienta para planificación de proyectos
        de Construcción Civil. 
        Participación y colaboración en look and feel de la aplicación ProPlanner.
        Solucionar o mejorar el uso de la Aplicación Web y Mobile.
        Desarrollo de nuevos módulos para la aplicación Web; diseño de mockups,
        implementación y desarrollo de interfaces.
        Areas: Backend y Frontend
        Consumo de API REST a través de JSON, XML, CSV, etc.
      </mat-card-content>
      <ul>
          <li>Rails y Angular</li>
          <li>SQL y Postgresql</li>
          <li>Ruby, Javascript y Typescript.</li>
          <li>Html, Pug, Haml, CSS, SaaS y Flex Box.</li>
          <li>Bootstrap, Angular material, hightcharts, Prime ng, Moment</li>
        </ul>
    </mat-card>
    <div class="tree-branch">
      <img src="https://media.licdn.com/dms/image/C4E0BAQGjto3n1rr9aA/company-logo_100_100/0?e=1583971200&v=beta&t=i9RxN7pdrDi6VT5uIxxg_jtkAx1d9Dft6bCkR-mF1ic" alt="">
      <div id="triangle-left"></div>
      <span class="vl"></span>
    </div>
  </div>
   <div class="text-box-container-flex">
    <mat-card>
      <mat-card-title>UX/UI</mat-card-title>
      <mat-card-content>
        Empresa dedicada al desarrollo de Software en el rubro Inmobiliario y retail.
        Participación en nueva versión de PVI (Posventa Inmobiliaria). Un sistema
        online que permite gestionar requerimientos de Posventa de importantes
        clientes y proyectos Inmobiliarios.
      </mat-card-content>
      <ul>
          <h4>El objetivo principal del cargo, consiste en mejorar el look and feel del
            producto.</h4>
        <li>Investigación de los casos de uso</li>
        <li>Diseñar junto al equipo la nueva versión del sistema</li>
        <li>Test de usuarios</li>
        <li>Generar mockups</li>
      </ul>
    </mat-card>
    <div class="tree-branch">
      <img src="https://media.licdn.com/dms/image/C560BAQG_Gmopm3PhAw/company-logo_200_200/0?e=2159024400&v=beta&t=a6YyEtOQZq_OgpBoQVELqKRBXFajSaNHtihM6v-mLdI" alt="">
      <div id="triangle-left"></div>
      <span class="vl"></span>
    </div>
  </div>  
    <div class="text-box-container-flex">
    <mat-card>
      <mat-card-title>Ejecutivo de cuentas</mat-card-title>
        <mat-card-content>
          Empresa dedicada al desarrollo de Software en el rubro Inmobiliario y retail.
          Ejecutivo de cuentas en PVI (Posventa Inmobiliaria). Un sistema online que
          permite gestionar requerimientos de Posventa de importantes clientes y
          proyectos Inmobiliarios, donde los principales stakeholders, son:
          Propietarios, administradores, jefes de proyectos, gerentes y jefes de
          posventa.
       </mat-card-content>
      <ul>
          <li>Implementación del sistema para nuevos clientes.</li>
          <li>Capacitaciones a clientes o usuarios del sistema.</li>
          <li>Toma de requerimientos para posibles upgrades o mejoras del sistema.</li>
          <li>Generar ventas cruzadas.</li>
          <li>Constante comunicación con el área de TI para gestionar e implementar
              nuevas funcionalidades.</li>
        </ul>
    </mat-card>
    <div class="tree-branch">
      <img src="https://media.licdn.com/dms/image/C560BAQG_Gmopm3PhAw/company-logo_200_200/0?e=2159024400&v=beta&t=a6YyEtOQZq_OgpBoQVELqKRBXFajSaNHtihM6v-mLdI" alt="">
      <div id="triangle-left"></div>
      <span class="vl"></span>
    </div>
    </div>
    <div class="text-box-container-flex">
      <mat-card>
        <mat-card-title>Ejecutivo de cuentas</mat-card-title>
        <mat-card-content>
            Aquí realicé mi práctica profesional y posteriormente mi cargo se desempeñó
            como Ejecutivo de cuentas en el rubro Publicitario de importantes marcas, como:
            Carozzi, Claro,
            Movistar Perú, Costa, Sedal, Oster, entre otras.
        </mat-card-content>
        <ul>Principales funciones:
            <li>Tomar requerimientos</li>
            <li>Generar nuevas ideas para la comunicación de las respectivas marcas</li>
            <li>Constante colabroracón junto al equipo creativo y diseño</li>
            <li>Activación de marca</li>
          </ul>
      </mat-card>
      <div class="tree-branch">
        <div class="point-design">
          <span class="center-text">Point</span>
        </div>
        <div id="triangle-left"></div>
        <span class="vl"></span>
      </div>
    </div>
  </div>
</div>      
        

  