<button mat-fab routerLink="" routerLinkActive="active">
  <fa-icon icon="arrow-left"></fa-icon>
</button>
<div class="main-layout-experience">
  <div class="title-layout">
    <h4 class="title-experiencie">work experience summary</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime eius eos velit non, accusamus quam animi incidunt voluptate atque voluptatum ratione, deserunt, architecto quidem exercitationem. In officiis voluptates facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat reiciendis, magnam repudiandae enim, soluta odio necessitatibus ratione nobis, laborum odit cumque hic ea maxime doloribus obcaecati cupiditate! Placeat, provident minima!</p>
  </div>
</div>    